@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    text-align: center;
    padding: 2em;


}

header img {
    margin-right: 1em;
    max-width: 96px;
}