@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;

}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

}